.component-destaque-block{
    background: url('../../public/img/swimming.png') no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    height: 37.25rem !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background: rgb(0,0,0,0.8);
        top: 0;
        z-index: 1;
      }
}

.component-destaque-text{
    color:white;
    z-index: 5;
}


.component-destaque__p{
    margin-bottom: 20px;
    font-weight: 500;
}

.component-destaque__buttom{
    color: #fff;
    border: 1px solid #DF4A4A;
    background: #DF4A4A;
    padding: 9px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 8px;

    &:hover{
        color:#fff;
        border: 1px solid #a03535;
        background: #a03535;    
    }
}

.component-section-cards{
    @include space-section;
}
.component-section-cards__card{
    max-width: 300px;
    padding: 14px;
    border-radius: 28px;
    text-align: justify;
    background: #dce2e2;
    // border: 1px solid #DF4A4A;

    figure{
        text-align: center;
    }
}

.component-section-cards__grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

//section imoveis destaques

.componente-section-imoveis{
    @include space-section;
    @include box;
}

.componente-section-imoveis-destaques{
    width:77%;
    margin:auto;
    margin-top: 30px;
    @include flex(flex, row,'','','');
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    @include radius(20px);
    margin-top: 40px;

    .componente-section-imoveis-destaques__img{
        max-width: 50%;
        object-fit: cover;
        border-radius: 20px 0px 0px 20px;
    }

    .componente-section-imoveis-destaques__content{
        width: 100%;
    }

    .componente-section-imoveis-destaques__buttom{
        background: #DF4A4A;
        color:#fff;
        padding:5px;
        @include font-size(20px);
        @include radius(5px);
        padding-right: 10px;
        padding-left: 10px;
    }

    .componente-section-imoveis-destaques__h4{
        float: right;
        padding: 5px;
        background: #DF4A4A;
        color: #fff;
    }

}

.componente-section-imoveis-destaques__buttom{
    background: $green;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.component-section-clients{
    @include space-section;

    .component-section-clients-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .component-section-clientes__img{
            // width: 400px;
            width: 40%;
        }
    }
    .component-section-clientes-text{
        width: 40%;

        p{

            color:#68696b;
        }

        .componente-section-clients__buttom{
            @include radius(5px);
            background:$red;
            color:#fff;
            padding: 9px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .animation-count{
    @include space-section;
    display: flex;
    justify-content: space-around;
    text-align: center;
    }

}
    

//section cadastro

.componente-section-newslatter{
    @include space-section;
    @include box;
    background: url(/images/skyscraper.jpg?700ca65…) no-repeat;
    background-size: 100%;
    // height: 80vh;
    background-size: cover;

    &::before{
        content: "";
        width: 100%;
        // height: 100%;
        position: absolute;
        background-color: rgb(0,0,0,0.8);
        z-index: 1;
    }    

    .componente-section-newslatter-flex{
        display: flex;
        justify-content: center;
    }
}

//section info

.componente-section-info{
    @include box;
    @include flex(flex,'','',center,center);
    @include space-section;
    height: 300px;
    color:#fff;
    background:$yellow;
}